#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: when2sleep;
  src: url(../fonts/Montez-Regular.ttf);
}

@font-face {
  font-family: nav;
  src: url(../fonts/NanumPenScript-Regular.ttf);
}

@font-face {
  font-family: question;
  src: url(../fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
  font-family: form;
  src: url(../fonts/HiMelody-Regular.ttf);
}

@font-face {
  font-family: signIn;
  src: url(../fonts/FiraMono-Regular.ttf);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none;
  display: flex;
	margin: 5px;
  padding: 0px;
  flex-grow: 2;
}

li{
  padding: 10px;
  display: flex;
  align-items: center;
}

.calculateDiv{
  background-color: #305388bf;
  color:white;
  padding: 20px;
  border-radius: 5px;
  outline: #4181e1 solid 1.5px;
}

body{
  background: url(../images/stars.png) repeat center center fixed, rgb(15, 22, 69);
  -webkit-background: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#currentTime{
  color:rgba(255, 255, 255, 0.839);
  background-color: rgba(36, 23, 122, 0.626);
  padding: 5px;
  border-radius: 20px;
  box-shadow: inset 0 0 20px #a46dde;
}

input{
  background-color: rgb(72, 72, 148);
  color:white;
}

ul li a{
  color:white;
  font-family: nav;
  font-size: 31px;
  padding: 10px;
}

nav{
  display: flex;
  align-items: center;
}

#when2sleep{
  color:white;
  font-family: when2sleep;
  font-size: 30px;
  align-self: center;
  justify-content: flex-start;
  flex-grow: 1;
  text-align: left;
}


#when2sleep:hover{
  color:rgba(250, 235, 215, 0.805);
}

.question{
  font-family: question;
  font-size: 24px;
  margin:10px;
}

#logo{
  margin:0px;
  padding:2px;
  width:120px;
}

.leftmoon img{
  position: absolute;
  left: 0px;
  bottom:0px;
  width: 10%;
}

.moon img{
  position: absolute;
  right: 0px;
  bottom:0px;
  width: 10%;
  transform: scaleX(-1);
}


.moon, .leftmoon{
  position: relative;
}

h2{
  font-family: question;
  font-size: 65px;
  color:white;
  margin:5px;
}

.logindiv{
  height:75vh;
  width: 55vw;
  padding-top:3%;
  position: relative;
}

.loginform{
  width: 20vw;
  background-color: rgb(81, 109, 140);
  color:white;
  padding: 10px;
  margin:6px;
  font-size: 35px;
  border-radius: 3px;
  border: none;
}

::placeholder {
  font-family: form;
  color: rgba(192, 209, 255, 0.664)
}

button{
  font-family: form;
  width: 22vw;
  height: 9%;
  color: white;
  background-color: rgb(32, 0, 120);
  border-radius: 10px;
  font-size: 35px;
  border-color: rgb(222, 219, 135);
  border-width: 1.5px;
  margin: 5px;
}

button:hover{
  filter: brightness(90%);
  color:rgb(152, 142, 232)
}

.resetpassword{
  color:white;
  margin: 5px;
  padding: 5px;
  font-family: signIn;
}

.containerLogin{
  width:40%;
  margin: auto;
  text-align: left;
}

.logindiv img{
  position:absolute;
  right:0px;
  bottom:0px;
  transform: scaleX(-1);
}

.enterEmail{
  font-family: signIn;
  color:white;
  font-size: 25px;
  margin:2px;
}

/*#rightNav{
  text-align: right;
}*/

header{
  display: flex;
  width: 50vw;
  margin:auto
}

#loginButton{
  width:100%;
  display: flex;
  height:70%;
  justify-content: center;
  align-items: center;
}

.light:hover{
  filter:brightness(110%) 
  drop-shadow(0px 0px 2px rgb(231, 206, 132));
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  border-radius: 50%;
  /* other styling as needed */
}

p, h3{
  color:white;
}

#preview{
  width: 90%;
  padding:5px;
}


.cdiv{
  min-height:75vh;
  width: 55vw;
  padding-top:3%;
  position: relative;
}

